<%- include( 'templates/head' ) %>
<body>
    <%- include( 'templates/navbar' ) %>
    <h1> Ingrese datos de su producto</h1>
<div class="row">
    <form action="/personas" method="post"> 
        <input name="name">
        <input name="price">
        <input type="url" name="img">

        <button type="submit">Guardar</button>

    </form>
</div>

</body>
</html>